.intro{
    margin: 4rem 6rem;
}

.table {
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
    
}

td {
	padding: 15px;
	background-color:#ebebdf,
    0 0 5px #ebebdf,   
    0 0 10px #ebebdf,  
    0 0 15px #ebebdf, 
    0 0 20px #ebebdf, 
    0 0 25px #ebebdf, 
    0 0 30px #ebebdf, 
    0 0 35px #ebebdf; ;
	color: #3f2a52;
    text-align: center;
}

th {
	text-align: center;
}

thead {
	th {
		background-color: #ebebdf;
        color: #3f2a52;
        text-align: center;
	}
}

.intro h1{
    font-size: 3rem;
    align-items: center;
    align-content: center;
    color: #3f2a52;
}

.intro p{
    font-size: 1rem;
    align-items: center;
    align-content: center;
    color: #3f2a52;
}

.table h1{
    font-size: 3rem;
    align-items: center;
    align-content: center;
    color: #3f2a52;
    margin: 4rem 6rem;
}

.about-table{
    margin: 4rem 6rem;
}
